.App {
  font-size: 15px;
}

.display {
  display: flex;
  justify-content: center;
}

.display div {
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.balls, .strikes {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

h2 {
  text-decoration: underline;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 15px;
  color: white;
  background-color: gray;
  border-radius: 10px;
}

.button-group {
  margin: 0 auto;
}